@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&family=Quicksand:wght@300;400;500&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --green-color: #27ae60;
  --blue-color: #232c3d;
  --gray-color: #f3f5f8;
  --font-two: 'Lato', sans-serif;
  --padding: 60px 20px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

footer {
  background-color: var(--gray-color);
}

.navbar a {
  font-family: var(--font-two);
}

a {
  text-decoration: none;
  color: var(--green-color);
  line-height: 2.5;
}

a:hover {
  color: var(--blue-color);
}

h1,
h2 {
  font-family: var(--font-two);
}

h2,
p {
  color: var(--blue-color);
}

ul,
li {
  list-style: none;
  padding-left: 0 !important;
  line-height: 2.5;
}

.card {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
  transition: transform 100ms ease-in;
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.06);
}

/* Utilities classes */
.btn-primary {
  background-color: var(--blue-color) !important;
  border: none !important;
  text-align: center !important;
  padding: 10px 15px !important;
}

.bg-warning {
  background-color: #ffeee8 !important;
  color: #ff7822;
}

.bg-success {
  background-color: #e9f7f1 !important;
  color: #5cc89b;
}

.bg-danger {
  background-color: #fce8e8 !important;
  color: #ef8342;
}

.shadow-sm {
  box-shadow: 0 0px 10px 0px rgb(62 28 131 / 10%) !important;
  border-radius: 5px;
}

.card-footer {
  padding: 15px !important;
  background-color: var(--white-color) !important;
}
