@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --green-color: #27ae60;
  --blue-color: #2d3954;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: var(--green-color);
  line-height: 2.5;
}

a:hover {
  color: var(--blue-color);
}
