.textPro {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px !important;
  color: #a4aecb;
}

/* Cards */
.cFooter {
  display: flex;
  justify-content: space-between;
}

.cFooter h6 {
  font-weight: bold;
  font-size: 28px;
  color: var(--green-color);
}

.rounded {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
